body {
    background-color: gray;
    background-image: url('./img/hero.jpg');
}

nav {
    border-radius: 2%;
    padding-top: 5px;
;
}

img {
    width: 200px;
    border-radius: 2%;
}

.div-logo {
    display: inline-block;
        width: 200px;
    }

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-left: 80px ;
    color:rgb(249, 173, 80);
}

button {
    background-color: black;
    margin-left: 10px;
    font-size: x-large;
    margin-left: 50px;    
    border-radius: 50%;
}   

a {
    text-decoration: none;
    background-color: black;
    color: rgb(236, 201, 157);
    border-radius: 2%;
}
.content {
    width: 65%;
    padding: 25px;
    background-color: rgb(153, 21, 19);
    display: block
}

li {
    display: inline-block;
    vertical-align: top;
}

  footer {
    display: inline-block;
    background-color: orange;
}

