body {
    background-color: gray;
    background-image: url("/img/hero.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

nav {
    border-radius: 50%;
    padding-top: 5px;
}

img {
    width: 200px;
    border-radius: 10%;
}

.div-logo {
    display: inline-block;
    width: 200px;
    opacity: 80%;
    }

h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    text-align: center;
    margin-left: 80px ;
    color:rgb(249, 173, 80);    
}

h2.flag {
    position: relative;
}

button {
    background-color: black;
    margin-left: 10px;
    font-size: x-large;
    margin-left: 50px;    
    border-radius: 50%;
}   

a {
    text-decoration: none;
    background-color: black;
    color: rgb(236, 201, 157);
}
.content {
    width: 65%;
    height: 7in;
    padding: 25px;
    background-color: rgb(153, 21, 19);
    display: block;
    border-radius: 20%;
    opacity: 90%;

}

li {
    display: inline-block;
    vertical-align: top;
}

  footer {
    height: 2in;
    display: block;
    background-color: orange;
    border-radius: 45%;
    padding: 0px;

}

